html {
	color-scheme: light dark;
	scrollbar-width: thin;
	overflow: hidden;
}

.notes-container > div:nth-of-type(2) {
	& > div:first-child {
		display: none;

		&.PvRhvb-qAWA2 {
			display: block;
		}
	}
}

a[aria-label="Keep"] span {
	display: none;
}
